@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

html, body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background: #fafbfc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

button, input, textarea, select {
  font-family: inherit;
} 